<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Gestionare inventar</title>
    <style>
        table {
            border-collapse: collapse; /* Elimina spatiile dintre celule */
        }
        table th, table td {
            text-align: center; /* Text centrat */
            padding: 8px 16px; /* Spatiu interior */
            border: 1px solid black; /* Bordura neagra */
        }
    </style>
</head>
<body>
    <h2>Gestionare inventar</h2>
    <table>
        <tr>
            <td valign="top">
                <!-- Butoane pentru actiuni -->
                <form>
                    <button type="button" onclick="addItem()">Adăugare</button><br><br>
                    <button type="button" onclick="getItems()">Afișare</button><br><br>
                    <button type="button" onclick="editItem()">Editare</button><br><br>
                    <button type="button" onclick="deleteItem()">Ștergere</button><br>
                </form>
            </td>
            <td valign="top" style="padding-left: 30px;">
                 <!-- Campurile pentru text -->
                <form>
                    <label for="id">Index:</label>
                    <input type="text" id="id"><br><br>

                    <label for="nume">Nume produs:</label>
                    <input type="text" id="nume"><br><br>

                    <label for="cantitate">Cantitate:</label>
                    <input type="text" id="cantitate"><br><br>

                    <label for="pret">Preț:</label>
                    <input type="text" step="0.01" id="pret"><br><br>
                </form>
            </td>
        </tr>
    </table>
    <br><br>
    <!-- Tabel cu produsele -->
    <table border="1" id="itemsTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Produs</th>
                <th>Cantitate</th>
                <th>Preț (RON)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <!-- Scriptul javascript -->
    <script src="/static/script.js"></script>
</body>
</html>